Add Clubs

<form action="/add_clubcodes">
  <select name="club_type">
  
      <option value= "Driver">Driver</option>
      <option value= "Irons">Irons</option>
      <option value= "Wedge">Wedge</option>
      <option value= "Putter">Putter</option>
   
  </select>
 
  <input type="text" placeholder="Brand" name = "brand">
 

 
  



  

   <br> 
  <input type="submit">
</form>