Add Clubs

<form action="/save_clubs">
  <input type="text" placeholder="Enter Store ID" name = "storeid">
  <input type="text" placeholder="Enter Club Code" name = "clubid">
  <input type="numbers" placeholder="Enter Quantity" name = "quantity">
  <input type="numbers" placeholder="Enter Price" name "price">
  
  <input type="submit">
</form>