All Clubcodes

<ul>
   <% ClubCode.all_as_objects.each do |code| %>
     <li>Club Code -<%=code.clubid %> Club Type -<%=code.clubtype%> Brand -<%=code.brand%></li>
   <% end %>
</ul>
<ul>
  <a href="/home">Home</a>
</ul>