All Stores

<ul>
   <% Store.all_as_objects.each do |store| %>
     <li>Store ID -<%= store.id %>  Location -<%=store.location%></li>
   <% end %>
</ul>
     
     
<ul>
  <a href="/home">Home</a>
</ul>