<h1>Golf Club Inventory Manager</h1>

<p>Choose a function:</p>

<ul>
  <li><a href="/all_stores">See all stores</a></li>
  <li><a href="/all_clubcodes">See all club codes</a></li>
  <li><a href="/all_clubs">See all clubs in stock</a></li>
  <li><a href="/add_clubs">Add golf clubs to a store's inventory</a></li>
  <li><a href="/update_product">Update a product record</a></li>
  <li><a href="/update_location_form">Change the location of a product</a></li>
  <li><a href="/remove_product">Remove a product from inventory</a></li>
  <li><a href="/add_store_form">Add a new store location</a></li>
  <li><a href="/remove_store">Remove a store location</a></li>
</ul>






